/*
TOP Content
*/
@media (min-width: 600px){
    .goods, .blog{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: calc( 100% + 3rem );
    }
    article.preview-goods, article.preview-blog{
        width: 50%;
    }
}

@media ( min-width: 1000px ) {
    main#goods-info, main#blog-info {
		display: block;
		padding: 4rem 4rem 0 4rem;
		width: 100%;
    }

    .goods, .blog {
        display: flex;
        flex-wrap: wrap;
    }
}

@media ( min-width: 1200px ) {
    .goods, .blog {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    
    article.preview-goods, article.preview-blog{
        width: calc(100% / 3);
    }
}

@media ( min-width: 1600px ) {
    article.preview-goods, article.preview-blog{
        width: 25%;
    }
}


/*共通スタイル*/
.heght50{
    margin-top: 50px;
}
/*共通スタイル-サイドバーSNSボタン*/
ul.side_sns {
    display: flex;
    width: 200px;
    margin: 0;
}

/*共通スタイル-新着記事一覧*/
a.CtaButton{
    text-decoration: none;
    border-top: 1px solid #254b63;
    border-left: 1px solid #254b63;
    width: 182px;
    height: 73px;
    display: block;
    margin: 0 auto;
}
.CtaButton {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    border: 1px solid transparent;
    border-bottom: none;
    border-right: none;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    padding: 16px 68px 16px 32px;
    position: relative;
    text-decoration: none;
    transition: background 250ms, color 250ms;
}
a.CtaButton::before {
    content: '';
    background: #254b63;
    bottom: 0;
    height: 1px;
    left: 0;
    -ms-transform: scaleX(0.77);
    transform: scaleX(0.77);
    -ms-transform-origin: 0 1px;
    transform-origin: 0 1px;
    width: 90%;
    display: block;
    position: absolute;
    transition: transform 250ms 250ms;
}
a.CtaButton::after{
    content: '';
    display: block;
    position: absolute;
    background: #254b63;
    height: 100%;
    right: 0;
    top: 0;
    -ms-transform: scaleY(0.6);
    transform: scaleY(0.6);
    -ms-transform-origin: 1px 0;
    transform-origin: 1px 0;
    width: 1px;
}
.arrow::before,
.arrow::after{
    position: absolute;
    top: 0;
    bottom: 0;
    /* left: 0; */
    right: -94px;
    margin: auto;
    content: "";
    vertical-align: middle;
}
.CtaButton span.arrow::before{
    left: 3px;
    width: 27px;
    height: 1px;
    background: #254b63;
}
.CtaButton span.arrow::after{
    left: 18px;
    width: 6px;
    height: 6px;
    border-top: 1px solid #254b63;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
a.CtaButton p{
    color: #254b63;
    margin: 0;
    display: inline-block;
    font-size: 27px;
    float: left;
}

.top_title, .top_title h2 {
    color: #4b5f6c;
    text-align: center;
}
.top_title h2{
    margin: 22px;
    display: inline-block;
}
.top_title h2 span {
    display: block;
    margin-top: -13px;
    font-size: 24px;
    font-weight: 100;
}
.top_title::before,
.top_title::after{
    display: inline-block;
    content: url('http://localhost:8888/hotamine/wp-content/uploads/2019/06/toptitle.png');
}

/*共通スタイル-下層ページ*/
.featured-media {
    width: 100%;
    height: auto;
    overflow: hidden;
}

/*固定ページ-お店について*/
body.page-template-default.page.page-id-20 header.post-header{
    display: none;
}
body.page-template-default.page.page-id-20 main#site-content,
body.page-template-default.page.page-id-20 .post-inner.section-inner{
    padding: 0;
}
body.page-template-default.page.page-id-20 #site-footer{
    margin-top: 0;
    width: 100%;
}
.about_us h2 {
    text-align: center;
}
.about_us .map_wap {
    display: flex;
    margin-bottom: 47px;
}
.about_us .map_wap .left,
.about_us .map_wap .right{
    width: 50%;
}
.about_us .map_wap .left{
    height: auto;
    position: relative;
}
.about_us .map_wap .left iframe {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    }
.about_us .map_wap .right h3{
    color: white;
    background-color: #a72832;
    text-align: center;
    margin: 0;
}
.about_us .map_wap .right p.text {
    font-size: 1em;
    margin-bottom: 0;
    text-align: center;
}
.about_us .map_wap .right p.arrow_next img{
    width: 20px;
    margin: 0 auto;
}

@media ( max-width: 730px ) {
    .about_us .map_wap {display: block;}
    .about_us .map_wap .left,
    .about_us .map_wap .right{
        width: 100%;
    }
    .about_us .map_wap .left{ 
        height: 400px; 
        margin-bottom: 30px;
    }
    .about_us .map_wap .right p{
        margin: 10px 0 0 0;
    }
}

/*固定ページ-お問い合わせ*/
body.page-template-default.page.page-id-22 main#site-content,
body.page-template-default.page.page-id-22 .post-inner.section-inner{
    padding: 0;
}
body.page-template-default.page.page-id-22 #site-footer{
    margin-top: 0;
    width: 100%;
}